.Venue{
    background-size:cover;
    align-content: center;
    padding-top: 62px;
}

.formTitle{
    font-size:24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.formContainer{
    background-color: white;
    padding: 8px 10px;
    min-width: 30vw;
}

.submitButton{
    background-color: var(--secondary-blue) !important;
    border-color: var(--white) !important;
    width: 100%;
}