.home{
    height: 100vh;
    background: url("../../assets/images/become-chefcito-bg-1.jpg") no-repeat;
    background-size:cover;
    align-content: center;
}

.formTitle{
    font-size:24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.formContainer{
    background-color: var(--white);
    padding: 8px 10px;
    min-width: 30vw;
}

.submitButton{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    width: 100%;
}