.booking-title{
    font-size: 24px;
    font-weight: 500;
}

.Accepted{
    color:var(--success)
}

.Uncomfirmed{
    color:var(--warning)
}

.Canceled{
    color:var(--error)
}

.history-container{
    padding-top: 62px;
}
.Center{
    text-align: center;
}

.actionsCol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alerta-inasistentcia{
    border-width: 3px;
    color: red;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
}