.title-container {
    background-color:  var(--blue);
}


.Accepted{
    color:var(--white)
}

.Uncomfirmed{
    color:var(--yelow)
}
.Uncomfirmed div{
    color: black;
}
.Canceled{
    color:var(--error)
}

.history-container{
    padding-top: 62px;
}